<h1 align="center">Listing all articles</h1>
<ul class="get-format margin-left-right-format">
  <li><%= link_to "PDF", articles_path(format: :pdf) %></li>
  <li><%= link_to "JSON", articles_path(format: :json) %></li>
  <li><%= link_to "XML", articles_path(format: :xml) %></li>
</ul>
<%= render 'shared/article', obj: @articles %>
<div align="center">
  <%= will_paginate @articles, renderer: RemoteLinkPagination::LinkRenderer if @truth_format != 'pdf' %>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>